*{margin: 0; padding: 0;}

a{text-decoration: none;}

li{list-style: none;}

body {font-family: 'Oswald', sans-serif;}

h1{
text-align: center;
position: relative;
bottom: 100px;
color: #fff;
font-size: 40px;
}

.container{

width: 100%;
height: 100vh;

display: flex;
justify-content: center;
align-items: center;

max-width: 500px;
margin: 0 auto;

}

video{
position: relative;
opacity: 100%;
width: 700px;
}

main {
padding: 200px 0px 410px 0px;
background: url(img/4.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

.div video{

}



@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 998px) {

video {width: 350px; height: 350px; position: relative;
bottom: 35%;}

}

@media screen and (max-width: 768px) {

video {width: 350px; height: 350px; position: relative;
bottom: 35%;
}
	
}

@media screen and (max-width: 576px) {

video{width: 250px; height: 250px; position: relative;
bottom: 40%;
}
h1{font-size: 35px;
}
	
}
